.itemWrapper {
  padding: 20px 0px;
  margin-bottom: 120px;
  transition: 0.3s ease;
  display: block;
  overflow: visible;
  position: relative;
  &:hover {
    text-decoration: none;
  }

  & > a {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    &::after {
      background-color: var(--background);
    }
    &:focus {
      outline-offset: 10px;
    }
  }

  & .contentWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  & h3,
  p {
    max-width: 700px;
  }

  & h3,
  p {
    margin: 0 0 0.2rem 0;
  }

  h3 span {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
  }

  & span {
    text-align: right;
    width: 4rem;
  }

  & ul {
    position: relative;
    z-index: 3;
    margin-top: 0.5rem;
    display: flex;
    width: 1px;
    padding-left: 0;
    & li {
      list-style: none;
      margin-bottom: 2rem;
      margin-right: 0.6rem;
    }
  }

  & .projectTitle {
    display: inline-block;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0.2rem;
      left: 0;
      background-color: var(--primary);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
  }

  & .imgWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  & img {
    height: 32.5vw;
    width: auto;
  }

  &:hover {
    cursor: pointer;
    .projectTitle {
      color: var(--primary);
      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}

@media (max-width: 767px) {
  .itemWrapper {
    & .contentWrapper {
      align-items: flex-start;
    }
    margin-bottom: 60px;
    & .notMainImg {
      display: none;
    }
    & .imgWrapper div {
      width: 100%;
      & img {
        width: 100%;
        height: auto;
      }
    }
  }
}
