.mainWrapper {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  color: var(--primary);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  border: none;
  transition: ease 0.3s;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--background);
  }
  &::after {
    transform: scaleX(0);
  }
}
