.mainWrapper {
  margin: 64px 64px 0 64px;
}

header {
  padding-bottom: 0px;
  width: 100%;

  & ul {
    display: flex;
    width: 100%;
    padding-left: 0;
    margin-top: 0;
    & li {
      list-style: none;
      margin-right: 0.6rem;
    }
  }
  & p {
    margin-top: 0;
  }

  .introParagraph {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      text-align: right;
    }
  }
}

h1.projectTitle {
  font-size: 3rem;
  line-height: 130.7%;
  & span {
    font-size: inherit;
    text-transform: inherit;
    font-family: inherit;
    display: inline-block;
    width: auto;
  }
}

@media (max-width: 1279px) {
  .mainWrapper {
    margin: 64px 32px 0 32px;
  }
}

@media (max-width: 767px) {
  .mainWrapper {
    margin: 64px 16px 0 16px;
    .introParagraph {
      flex-direction: column;
      justify-content: flex-start; 
      align-items: flex-start;
      p {
        margin-bottom: .2rem;
      }
      span {
        text-align: left;
      }
    }
  }
}
