.mainWrapper {
  margin: 30px auto 200px auto;
  width: 100%;
  max-width: 1489px;
  display: flex;
  align-items: center;
  justify-content: center;
  & div:first-child {
    max-width: 466px;
    width: 100%;
  }
  & div:not(:first-child) {
    margin-left: 90px;
  }

  & div>p{
    margin-bottom: .4rem;
  }

  & img,
  video {
    width: 100%;
    object-fit: contain;
  }
  & h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    max-width: 466px;
  }
}

@media (max-width: 1279px) {
  .mainWrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 130px;
    & div:not(:first-child),
    & img,
    video {
      margin-top: 20px;
      margin-left: 0;
      max-height: 700px;
    }
  }
}
