.mainWrapper {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  z-index: 2;
  width: calc(100% - 128px);
  top: 0;
  backdrop-filter: blur(10px);
  background-color: rgba($color: #fff, $alpha: 0.9);
  & > div {
    & a {
      display: block;
      font-family: 'DM Sans', Arial, Helvetica, sans-serif;
      transition: 0.3s ease;
      opacity: 0;
      color: var(--content);
      pointer-events: none;
      text-decoration: none;
    }
  }
  & .shown {
    opacity: 1;
    pointer-events: all;
  }
  & ul {
    padding: 0;
    margin: 12px;
    display: flex;
  }
  & li {
    list-style: none;
    &:not(:first-child) {
      margin-left: 14px;
    }
  }
  & .gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 12px;
  }
}

@media (max-width: 1279px) {
  .mainWrapper {
    padding: 0 32px;
    width: calc(100% - 64px);
  }
}

@media (max-width: 767px) {
  .mainWrapper {
    padding: 0 16px;
    width: calc(100% - 32px);
  }
}
