.mainWrapper {
  align-self: stretch;
  margin: 0 60px;
  display: flex;
  padding: 32px 0;
  justify-content: space-between;
  & p {
    margin-bottom: .5rem;
  }
  & ul {
    padding: 0;
    display: flex;
  }
  & li {
    list-style: none;
    &:not(:first-child) {
      margin-left: 16px;
    }
  }
}

@media (max-width: 1279px) {
  .mainWrapper {
    flex-direction: column;
    margin: 0 32px;
  }
}

@media (max-width: 767px) {
  .mainWrapper {
    margin: 0 16px;
  }
}
