.mainWrapper {
  height: 632px;
  width: 100%;
  & figcaption {
    margin-top: 0.5rem;
  }
  iframe {
    border-radius: 6px;
  }
}

@media (max-width: 1279px) {
  .mainWrapper {
    height: 600px;
  }
}

@media (max-width: 767px) {
  .mainWrapper {
    height: 400px;
  }
}
