.mainWrapper {
  margin-top: 60px;
  width: 100%;

  & h2 {
    margin: 2rem 0 0 0;
  }

  & ul {
    padding-left: 0;
  }

  & li {
    list-style: none;
  }
}

@media (max-width: 767px) {
  .mainWrapper {
    margin-top: 12px;

    & h2 {
      margin: 0.5rem 0 0 0;
    }

  }
}
