.mainWrapper {
    list-style: none;
    width: 272px;
    margin-bottom: 0.6rem;
    &:not(:last-child) {
      margin-right: 80px;
    }
    display: inline-block;
    position: relative;
    & img {
      border-radius: 4px;
    }
  
    & h2 {
      font-size: 1.5rem;
      margin: 0;
    }
  
    & h3 {
      font-size: 1rem;
      margin: 0;
    }
  
    & .description {
      padding-bottom: 2rem;
    }
  
    & .yearWrapper {
      position: absolute;
      bottom: 0;
    }
  
    & .pin {
      position: absolute;
      bottom: -0.6rem;
      height: 20px;
      width: 1px;
      border-left: 1px solid var(--content);
      margin-left: 0.7rem;
  
      & div {
        width: 6px;
        height: 6px;
        background: var(--content);
        border-radius: 50%;
        transform: translateX(-50%);
      }
    }
  }
  