.mainWrapper {
  position: relative;
  display: flex;
  flex:1;
  flex-direction: column;
  min-height: 568px;
  &>div {
    display: flex;
    flex-direction: column;
    flex:1;
  }
  & footer {
    margin: 0 60px;
    width: calc(100% - 120px);
  }

  & .timeline {
    margin-top: 60px;
    overflow-x: hidden;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.firstHalf {
  margin: 0 60px;
  max-width: 700px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & h4 {
    margin: 0 0 0 0.5rem;
  }
  & p {
    max-width: 700px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }

  & ul {
    margin-left: 0.5rem;
    padding: 0;
    display: flex;
  }
  & li {
    list-style: none;
    &:not(:first-child) {
      margin-left: 16px;
    }
  }
}

@media (max-width: 1279px) {
  .mainWrapper footer,
  .firstHalf {
    margin-left: 32px;
    margin-right: 32px;
    width: calc(100% - 64px);
  }
}

@media (max-width: 767px) {
  .mainWrapper footer,
  .firstHalf {
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
  }
}
