.mainWrapper {
  margin: 0 60px;
}

.firstHalf {
  max-width: 700px;
  flex: 1;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & h4 {
    margin: 0 0 0 0.5rem;
  }
  & h1 {
    & span {
      font-size: inherit;
      text-transform: inherit;
      font-family: inherit;
      display: inline-block;
      width: auto;
    }
  }
  & p {
    max-width: 600px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
}

.touchPoints {
  margin-left: 0.5rem;
}

@media (max-width: 1279px) {
  .mainWrapper {
    margin: 0 32px;
  }
}

@media (max-width: 767px) {
  .mainWrapper {
    margin: 0 16px;
  }
}
