@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=DM+Sans:wght@700&family=Roboto+mono:wght@400&display=swap');

:root {
  --background: #fff;
  --content: #1f1b1b;
  --primary: #005cc8;
}

body,
html {
  background-color: var(--background);
  margin: 0;
}

body {
  font-family: 'Atkinson Hyperlegible', Arial, Helvetica, sans-serif;
  color: var(--content);
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  color: var(--content);
}

h1,
.vc-txts-title {
  font-weight: 700;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.15rem;
  margin: 0.1rem 0;
}

h2,
.vc-txts-subtitle {
  font-weight: 700;
  font-size: 3rem;
  line-height: 130.7%;
  letter-spacing: -0.1rem;
}

h3,
.vc-txts-subtitle2 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -0.08rem;
  line-height: 130.7%;
  &-link {
    &:hover {
      color: var(--primary);
    }
  }
}

h4,
.vc-txts-subtitle3 {
  font-weight: 500;
}

a,
button {
  font-weight: 600;
  text-decoration: underline;
  color: var(--primary);
  &:focus {
    outline: 2px solid var(--primary);
    outline-offset: 2px;
  }
}

.vc-txts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

p,
.vc-txts-paragraph,
ul,
li {
  font-weight: 300;
  font-size: 1rem;
  line-height: 135%;
  color: var(--content);
}

span,
figcaption,
.vc-txts-caption {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--content);
  width: 100%;
  display: table;
  text-align: left;
}

@media (max-width: 767px) {
  h1,
  .vc-txts-title {
    font-size: 2.5rem;
    line-height: 90%;
    margin: 0.2rem 0;
  }

  h2,
  .vc-txts-subtitle {
    font-size: 2rem;
  }

  h3,
  .vc-txts-subtitle2 {
    font-size: 1.5rem;
  }
}
