.mainWrapper {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(31, 27, 27, 0.20);
  color: var(--content);
  border-radius: 4px;
  transition: ease 0.3s;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--background);
  }
  &::after {
    transform: scaleX(0);
  }
}
