.mainWrapper {
  border-bottom: 1px solid var(--content);
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 60px;
  ul {
    display: flex;
    width: fit-content;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 1279px) {
    .mainWrapper {
        padding-left: 32px;
    }
  }
  
  @media (max-width: 767px) {
    .mainWrapper {
        padding-left: 16px;
    }
  }
