.mainWrapper {
  background: var(--content);
  display: flex;
  align-items: flex-start;
  border-radius: 4px;
  position: fixed;
  top: 60px;
  right: 64px;
  z-index: 3;
  color: var(--background);
  & > button {
    background: var(--content);
    color: inherit;
  }
  p {
    max-width: 300px;
    margin: 0;
    color: inherit;
  }
  img {
    width: 80px;
    height: 80px;
    border-radius: 2px;
    margin-right: 20px;
  }
  .arrowUp {
    top: -12px;
    position: absolute;
    right: 16px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid var(--content);
  }
  padding: 8px;
}

.notVisible {
  display: none;
}

@media (max-width: 1279px) {
  .mainWrapper {
    right: 32px;
  }
}

@media (max-width: 767px) {
  .mainWrapper {
    right: 0px;
    position: sticky;
    width: calc(100% - 16px);
    border-radius: 0;
    .arrowUp {
      right: 32px;
    }

    p {
      max-width: 100%;
    }
  }
}
